<div class="navbar navbar-default">
  <a class="navbar-brand" href="/">Shopping Site</a>
  <ul class="nav navbar-nav">
    <li>
      <a [routerLink]="['/admin']">dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/admin/category']">Categories</a>
    </li>
    <li>
      <a [routerLink]="['/admin/product']">Products</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li style="padding:15px">Welcome : {{user.name}}</li>
    <li>
      <a href="javascript:void(0);" (click)="signOut()">Sign Out</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
