<h2 highlight>Directive Component</h2>

<input type="number" [(ngModel)]="num" />

<h3 class="highlight">ngIf</h3>
<div *ngIf="num%2==0">Even Number</div>
<div *ngIf="num%2>0">Odd Number</div>

<h3>ngIf..else</h3>
<div *ngIf="num%2==0 then ifdiv; else elsediv"></div>

<ng-template #ifdiv>Even Number</ng-template>
<ng-template #elsediv>Odd Number</ng-template>

<h3>for Loop</h3>
<ul>
  <li *ngFor="let item of colors">{{item}}</li>
</ul>

<h3>ngSwitch</h3>
<input type="text" [(ngModel)]="alphabet"/>
<div [ngSwitch]="alphabet">
  <div *ngSwitchCase="'a'">Vowel</div>
  <div *ngSwitchCase="'e'">Vowel</div>
  <div *ngSwitchCase="'i'">Vowel</div>
  <div *ngSwitchCase="'o'">Vowel</div>
  <div *ngSwitchCase="'u'">Vowel</div>
  <div *ngSwitchDefault>Not Vowel</div>
</div>